# Combinación de Tablas 

En este Notebook se realiza la preparación de los datos sobre un dataset que contiene 8 tablas con información que cubre las 5 mejores ligas de futbol de Europa de 2014 a 2020. Está estructurada como una base de datos relacional.

In [18]:
import pandas as pd

## Creación de DataFrames

### Tabla 1. appearances
Every appearance a player has made in one of the Top5 leagues over the specified time window

In [3]:
appearances=pd.read_csv("./../datos/appearances.csv")
appearances.head()

,gameID,playerID,goals,ownGoals,shots,xGoals,xGoalsChain,xGoalsBuildup,assists,keyPasses,xAssists,position,positionOrder,yellowCard,redCard,time,substituteIn,substituteOut,leagueID
0,81,560,0,0,0,0.0,0.000000,0.000000,0,0,0.000000,GK,1,0,0,90,0,0,1
1,81,557,0,0,0,0.0,0.106513,0.106513,0,1,0.106513,DR,2,0,0,82,222605,0,1
2,81,548,0,0,0,0.0,0.127738,0.127738,0,0,0.000000,DC,3,0,0,90,0,0,1
3,81,628,0,0,0,0.0,0.106513,0.106513,0,0,0.000000,DC,3,0,0,90,0,0,1
4,81,1006,0,0,0,0.0,0.021225,0.021225,0,0,0.000000,DL,4,0,0,90,0,0,1

### Tabla 2. games
All games played in one of the Top5 leagues over the specified time window

In [4]:
games=pd.read_csv("./../datos/games.csv")
columnas_interes = ['gameID', 'leagueID', 'season', 'date', 'homeTeamID', 'awayTeamID', 
                    'homeGoals', 'awayGoals', 'homeProbability', 'drawProbability', 'awayProbability',
                    'homeGoalsHalfTime', 'awayGoalsHalfTime' ]
games=games[columnas_interes]
games.head(3)

,gameID,leagueID,season,date,homeTeamID,awayTeamID,homeGoals,awayGoals,homeProbability,drawProbability,awayProbability,homeGoalsHalfTime,awayGoalsHalfTime
0,81,1,2015,2015-08-08 15:45:00,89,82,1,0,0.2843,0.3999,0.3158,1,0
1,82,1,2015,2015-08-08 18:00:00,73,71,0,1,0.3574,0.3500,0.2926,0,0
2,83,1,2015,2015-08-08 18:00:00,72,90,2,2,0.2988,0.4337,0.2675,0,1

### Tabla 3. leagues
Top5 Leagues

In [5]:
leagues=pd.read_csv("./../datos/leagues.csv")
leagues

   leagueID            name understatNotation
0         1  Premier League               EPL
1         2         Serie A           Serie_A
2         3      Bundesliga        Bundesliga
3         4         La Liga           La_liga
4         5         Ligue 1           Ligue_1

### Tabla 4. players
Every player who has played in one of the Top5 leagues over the specified time window

In [6]:
players=pd.read_csv("./../datos/players.csv")
players.head()

   playerID            name
0       560   Sergio Romero
1       557  Matteo Darmian
2       548     Daley Blind
3       628  Chris Smalling
4      1006       Luke Shaw

### Tabla 5. shots
All shots taken in one of the Top5 leagues over the specified time window

In [7]:
shots=pd.read_csv("./../datos/shots.csv")
shots.head()

,gameID,shooterID,assisterID,minute,situation,lastAction,shotType,shotResult,xGoal,positionX,positionY
0,81,554,NaN,27,DirectFreekick,Standard,LeftFoot,BlockedShot,0.104347,0.794,0.421
1,81,555,631.0,27,SetPiece,Pass,RightFoot,BlockedShot,0.064342,0.860,0.627
2,81,554,629.0,35,OpenPlay,Pass,LeftFoot,BlockedShot,0.057157,0.843,0.333
3,81,554,NaN,35,OpenPlay,Tackle,LeftFoot,MissedShots,0.092141,0.848,0.533
4,81,555,654.0,40,OpenPlay,BallRecovery,RightFoot,BlockedShot,0.035742,0.812,0.707

### Tabla 7. teams
All teams who played in one of the Top5 leagues over the specified time window

In [8]:
teams=pd.read_csv("./../datos/teams.csv")
teams.head(3)

   teamID         name
0      71  Aston Villa
1      72      Everton
2      74  Southampton

### Tabla 8. teamstats
Game statistics by team in one of the Top5 leagues over the specified time window

In [9]:
teamstats=pd.read_csv("./../datos/teamstats.csv")
teamstats.head(3)

,gameID,teamID,season,date,location,goals,xGoals,shots,shotsOnTarget,deep,ppda,fouls,corners,yellowCards,redCards,result
0,81,89,2015,2015-08-08 15:45:00,h,1,0.627539,9,1,4,13.8261,12,1,2.0,0,W
1,81,82,2015,2015-08-08 15:45:00,a,0,0.674600,9,4,10,8.2188,12,2,3.0,0,L
2,82,73,2015,2015-08-08 18:00:00,h,0,0.876106,11,2,11,6.9000,13,6,3.0,0,L

## Preparación DataFrames de interes

#### appearances_players
appearances + players

In [10]:
appearances_players = pd.merge(appearances, players, on=["playerID"])
appearances_players=appearances_players.drop(columns='playerID')
appearances_players = appearances_players.rename(columns={'name':'name_player'})
appearances_players.head(3)

,gameID,goals,ownGoals,shots,xGoals,xGoalsChain,xGoalsBuildup,assists,keyPasses,xAssists,position,positionOrder,yellowCard,redCard,time,substituteIn,substituteOut,leagueID,name_player
0,81,0,0,0,0.0,0.000000,0.000000,0,0,0.0,GK,1,0,0,90,0,0,1,Sergio Romero
1,91,0,0,0,0.0,0.058938,0.058938,0,0,0.0,GK,1,0,0,90,0,0,1,Sergio Romero
2,101,0,0,0,0.0,0.014860,0.014860,0,0,0.0,GK,1,0,0,90,0,0,1,Sergio Romero

#### appearances_leagues *****
appearances + players + leagues

In [11]:
appearances_leagues = pd.merge(appearances_players, leagues, on='leagueID')
appearances_leagues=appearances_leagues.drop(columns=['leagueID','understatNotation'])
appearances_leagues = appearances_leagues.rename(columns={'name':'name_league'})
appearances_leagues.head(3)

,gameID,goals,ownGoals,shots,xGoals,xGoalsChain,xGoalsBuildup,assists,keyPasses,xAssists,position,positionOrder,yellowCard,redCard,time,substituteIn,substituteOut,name_player,name_league
0,81,0,0,0,0.0,0.000000,0.000000,0,0,0.0,GK,1,0,0,90,0,0,Sergio Romero,Premier League
1,91,0,0,0,0.0,0.058938,0.058938,0,0,0.0,GK,1,0,0,90,0,0,Sergio Romero,Premier League
2,101,0,0,0,0.0,0.014860,0.014860,0,0,0.0,GK,1,0,0,90,0,0,Sergio Romero,Premier League

#### games_leagues
games + leagues

In [12]:
games_leagues = pd.merge(games, leagues[['name', 'leagueID']], on=["leagueID"])
games_leagues = games_leagues.rename(columns={'name':'name_league'})
games_leagues.head(3)

,gameID,leagueID,season,date,homeTeamID,awayTeamID,homeGoals,awayGoals,homeProbability,drawProbability,awayProbability,homeGoalsHalfTime,awayGoalsHalfTime,name_league
0,81,1,2015,2015-08-08 15:45:00,89,82,1,0,0.2843,0.3999,0.3158,1,0,Premier League
1,82,1,2015,2015-08-08 18:00:00,73,71,0,1,0.3574,0.3500,0.2926,0,0,Premier League
2,83,1,2015,2015-08-08 18:00:00,72,90,2,2,0.2988,0.4337,0.2675,0,1,Premier League

#### games_leagues_teams
games + leagues + teams

In [13]:
games_leagues_teams = pd.merge(games_leagues, teams[['name', 'teamID']], left_on='homeTeamID', right_on='teamID', suffixes=('_x', '_y'))
games_leagues_teams = pd.merge(games_leagues_teams, teams[['name', 'teamID']], left_on='awayTeamID', right_on='teamID', suffixes=('_x', '_y'))
games_leagues_teams=games_leagues_teams.drop(columns=['leagueID', 'teamID_x','teamID_y','homeTeamID', 'awayTeamID'])
games_leagues_teams = games_leagues_teams.rename(columns={'name_x':'homeTeam', 'name_y':'awayTeam'})
#'teamID_x','teamID_y', 'name_y', 'leagueID'
games_leagues_teams.head(3)

,gameID,season,date,homeGoals,awayGoals,homeProbability,drawProbability,awayProbability,homeGoalsHalfTime,awayGoalsHalfTime,name_league,homeTeam,awayTeam
0,81,2015,2015-08-08 15:45:00,1,0,0.2843,0.3999,0.3158,1,0,Premier League,Manchester United,Tottenham
1,3122,2016,2016-12-11 18:15:00,1,0,0.4325,0.3292,0.2383,1,0,Premier League,Manchester United,Tottenham
2,4501,2014,2015-03-15 16:00:00,3,0,0.6034,0.3300,0.0666,3,0,Premier League,Manchester United,Tottenham

In [14]:
# exportando datos como csv
games_leagues_teams.to_csv('games_leagues_teams.csv', index=False)

#### teamstats_teams*****
teamstats + teams

In [15]:
teamstats_teams = pd.merge(teamstats, teams, on=["teamID"])
teamstats_teams=teamstats_teams.drop(columns='teamID')
teamstats_teams = teamstats_teams.rename(columns={'name':'name_team'})
teamstats_teams.head(3)

,gameID,season,date,location,goals,xGoals,shots,shotsOnTarget,deep,ppda,fouls,corners,yellowCards,redCards,result,name_team
0,81,2015,2015-08-08 15:45:00,h,1,0.627539,9,1,4,13.8261,12,1,2.0,0,W,Manchester United
1,91,2015,2015-08-14 22:45:00,a,1,0.660404,9,2,5,9.5000,10,5,2.0,0,W,Manchester United
2,101,2015,2015-08-22 15:45:00,h,0,1.249100,20,8,12,4.7097,15,11,2.0,0,D,Manchester United

### teamstats_teams
teamstats_teams + games_leagues_teams

In [16]:
teamstats_teams = pd.merge(teamstats_teams, games_leagues_teams[['gameID','name_league']], on=["gameID"])
teamstats_teams.head(3)

,gameID,season,date,location,goals,xGoals,shots,shotsOnTarget,deep,ppda,fouls,corners,yellowCards,redCards,result,name_team,name_league
0,81,2015,2015-08-08 15:45:00,h,1,0.627539,9,1,4,13.8261,12,1,2.0,0,W,Manchester United,Premier League
1,81,2015,2015-08-08 15:45:00,a,0,0.674600,9,4,10,8.2188,12,2,3.0,0,L,Tottenham,Premier League
2,91,2015,2015-08-14 22:45:00,a,1,0.660404,9,2,5,9.5000,10,5,2.0,0,W,Manchester United,Premier League

In [24]:
# exportando datos como csv
teamstats_teams.to_csv('teamstats_teams.csv', index=False)

#### appearances_leagues_games *****
appearances_leagues + games_leagues

In [104]:
# exportando datos como csv
appearances_leagues_games.to_csv('appearances_leagues_games.csv', index=False)

#### appearances_leagues_games_teamstats

appearances_leagues + games_leagues + teamstats_teams

In [17]:
equipos = pd.merge(appearances_leagues, games_leagues, how='left', on='gameID')
appearances_leagues_games=appearances_leagues_games.drop(columns=['name_league_y', 'homeTeamID', 'awayTeamID', 'homeGoals',
                                                                 'awayGoals', 'homeProbability', 'drawProbability', 'drawProbability',
                                                                 'awayProbability', 'homeGoalsHalfTime', 'awayGoalsHalfTime'])
appearances_leagues_games = appearances_leagues_games.rename(columns={'name_league_x':'name_league'})
appearances_leagues_games.head(3)

NameError: name 'appearances_leagues_games' is not defined